body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mainframe {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #111;
}

.subframe {
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    color: #FFF;
    background-color: #AA9;
    display: flex;
    flex-direction: column;
}

.list-button {
    margin: 0px;
    padding: 3px;
    border-color: #808;
    border-radius: 3px;
    font-weight: normal;
    width: 100%;
    text-align: left;
}

button {
    border: 2px solid #FFF;
    padding: 10px;
    margin: 6px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #808;
    color: #FF0;
    border-radius: 8px;
}

button:hover {
    border: 2px solid #0FF;
}

button:focus {
    outline: none;
}

select, option, input {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}

button:disabled {
    background-color: #9999;
    border-color: #EEE;
    color: #EEE;
}

.alert {
    background-color: #A00B;
    border-color: #B00;
    color: #F80;
}

.debug {
    background-color: #A21;
    border-color: #FC0;
    color: #FE0;
    font-size: 1rem;
}